Lab6 VideoJuego Python/Pruebas Epsom/src/img/misc/__pycache__
Lab6 VideoJuego Python/Pruebas Epsom/views/__pycache__
Lab6 VideoJuego Python/.DS_Store
.DS_Store
Lab6 VideoJuego Python/Pruebas Oscar/Editado/__pycache__
Lab6 VideoJuego Python/Pruebas Oscar/Editado/__pycache__
